@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



main{
 
     flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #ffffff;
}

#hero{
    background: url("../images/hands.jpg") no-repeat center center/cover;
      height:400px;
       width:100%;
    
    
}

#hero-text{
    background-color: rgba(226, 97, 177, 0.5);
    font-family: "Playfair Display" sans-serif;
    position:absolute;
    border-radius: 5%;
    font-size: 110%;
    bottom: 500px;
    margin: 0px 15px;
    min-height: 100px;
    color: #fafafa;
    padding: 20px;
    text-align: center;
    
  
}


.container-fluid{
    
}
   



.uppercase{
    text-transform: uppercase;
}
 .about-section{
    background-color:  rgba(226, 97, 177, 0.5);
   
      
   

    
}
   
.signs-section{
    background-color:  rgba(165, 229, 229, 0.5); 
    
   
   
}

.action-section{
    background-color: rgba(226, 179, 97, 0.5);
 
  

 
   
   
}

.contact-section{
    background-color: rgba(211, 226, 97, 0.5); 

  
  

}

.download-section{
    background-color: lightgrey;
}


    
 


a{
    color: #000000;
    text-decoration: none;
}

a:visited{
    color: #000000;
    text-decoration: none;
}

a:link{
    text-decoration: none;
}



@media screen and (min-width:768px) {
    #hero-text{
        position: absolute;
        bottom:650px;
    }
}

@media screen and (min-width:1600px) {
    #hero-text{
        bottom:700px
    }
    }

